:root {
    --font: 'Proxima Nova', sans-serif;
  }
  
  body {
    font-size: 14px;
    font-family: var(--font);
    color: #FFFFFF;
    line-height: 25px;
  }
  .container{
    min-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }