/*/////////////// CSS PAR DEFAUT ////////////////////*/

:root {
  --font: 'Proxima Nova', sans-serif;
}

*{
  outline: none;
}

html, body{
  height: 100%;
}

body {
  font-size: 14px;
  font-family: var(--font);
  color: #FFFFFF;
  background-color: rgb(251, 251, 251);
  line-height: 25px;
}

img, table, video{
  max-width: 100%;
  width: 100%;
}


/*------  Mettre les couleur de base en bas --------*/