
/* 
                                    CSS mobile par défaut

            revoit ton indentation
 */


/* * {
    box-sizing: border-box;

}                           a supprimer c'est déja dans _reset.css ligne 1
*/

.body_détails {
    /*width: 100%;          a supprimer c'est déja dans _base.css ligne 11 */
    margin: 10em auto;
}








/*
img {

    max-width: 100%;
}
                            a supprimer c'est déja dans _base.css ligne 24
*/


.box_left {

    width: 50%;
    display: inline-block;
}


.haut {
    width: 40%;
    margin: auto;
    padding: 25px;
    background: #3c3c3c;
    font-size: 1.5em;
    border: solid 1px black;
    position: relative;

}


/*     indentation   */

.box_right {

    
    width: 45%;
    display: inline-block;
    position: absolute;

}



.main {
    width: 40%;
    background-color: burlywood;
    margin: auto;
    padding: 25px;
    font-size: 2em;


}

.bas {
    width: 40%;
    background-color: greenyellow;
    margin: auto;
    padding: 25px;
    font-size: 1em;

}

/* faire des classes pour les td, ul, li  */

td {
    border: solid 1px black;
}

ul {
    list-style: none;

}

li{

    text-decoration: none;
}



/* c'est pour la tablette ou Desktop == ordi ?

@media screen and (min-width: 1024px) {}

ont utilise pas le max-width
*/
@media(min-width: 768px) and (max-width: 1388px)

{

 

.haut

{

            width :40% ;

            padding :0px ;

}

 

.right

{

            width :20% ;           

}

 

#contenu

{

            width :80% ;

}

 

}

/* c'est pour le mobile ? */
@media(max-width: 767px)

{ 

 /* indentation */

.haut

{

            width :40% ;

            padding :0px ;

}

 /*
 technique : si plusieur sélècteur ont les même valeurs et propriétés tu peut faire ça
 çà économise des lignes

#menu-gauche, #contenu, #sidebar-droite{
     width :100% ;
 }

 */

#menu-gauche

{

            width :100% ;

}

 

#contenu

{

            width :100% ;

}

 

#sidebar-droite

{

            width :100% ;

}

 

 

}