.footer {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #212121;
}
.footer__social {
    display: inline-flex;
}
.footer__social > a {
    width: 21px;
    height: 21px;
}