:root {
    --font_nav: 'Roboto', sans-serif;
    --color_font_nav: linear-gradient(219.53deg, lightgreen 1.55%, green 95.8%);
}

/* Barre de navigation */
.nav {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.nav__logo {
    width: 32px;
    flex: none; 
}
.nav__menu {
    margin-left: auto;
    display: flex;
    font-family: var(--font_nav);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}
.nav__menu > li {
    margin-left: 50px;
}
.nav__menu > li > a {
    color: black;
}
.nav__menu > * + * {
    margin-left: 56px;
}

/* Burger */
.nav__burger {
    display: none;
    margin-left: auto;
}
.nav__burger span {
    position: relative;
}
.nav__burger span,
.nav__burger span::after,
.nav__burger span::before {
    content: '';
    width: 20px;
    height: 2px;
    margin: 5px 0;
    border-radius: 4px;
    background-color: currentColor;
    display: block;
    transition: transform .4s, background .2s;
}
.nav__burger span::after,
.nav__burger span::before {
    position: absolue;
}
.nav__burger span::before {
    transform-origin: 15% 50%;
    top: -6px;
}
.nav__burger span::after {
    transform-origin: 15% 50%;
    bottom: -6px;
}
.nav__burger.is-active > span {
    transform: rotate(90deg);
    background: transparent;
}
.nav__burger.is-active > span::before {
    transform: translateY(-2px) rotate(45deg);
}
.nav__burger.is-active > span::after {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 768px) {
    .nav__burger {
        display: block;
    }
    .nav__logo {
        display: none;
    }
    .nav__menu{
        display: flex;
        position: fixed;
        background: rgba(#FFF, 0.9);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s;
    }
    .nav__menu > * {
        transform: translateY(-10px);
        transition: transform .5s;
    }
    .nav__menu.is-active {
        pointer-events: auto;
        display: flex;
        animation: menuIn 1s;
        opacity: 1;
    }
    .nav__menu > * + * {
        margin-left: 0;
        margin-top: 24px;
    }
}
p {
    color: black
} 