:root {
    --font_nav: 'Roboto', sans-serif;
    --color_a_nav: #000000;
    --color_btn_nav: linear-gradient(227.48deg,#00FF00 1.55%,  #008000 95.8%);
}

/* Barre de navigation */
.nav {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-right: 81px;
    margin-left: 91px;
}
.nav__logo {
    height: 32px;
    display: flex;
    align-items: center;
}
.nav__menu {
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font_nav);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}
.nav__menu > li {
    margin-left: 50px;
}
.nav__menu > li > a {
    background: var(--color_a_nav);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav__menu > * + * {
    margin-left: 56px;
}
.nav__btn {
    width: 160px;
    height: 56px;
    font-family: var(--font_nav);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFF;
    background: var(--color_btn_nav);
    box-shadow: 0px 12px 35px rgba(160, 121, 0, 0.2);
    border-radius: 100px;

}

@media only screen and (max-width: 1196px) {
    .nav__menu {
        white-space: nowrap;
    }
}
/* Burger */
.nav__burger {
    display: none;
    margin-left: auto;
}
.nav__burger span {
    position: relative;
}
.nav__burger span,
.nav__burger span::after,
.nav__burger span::before {
    content: '';
    width: 20px;
    height: 2px;
    margin: 5px 0;
    border-radius: 4px;
    background-color: currentColor;
    display: block;
    transition: transform .4s, background .2s;
}
.nav__burger span::after,
.nav__burger span::before {
    position: absolue;
}
.nav__burger span::before {
    transform-origin: 15% 50%;
    top: -6px;
}
.nav__burger span::after {
    transform-origin: 15% 50%;
    bottom: -6px;
}
.nav__burger.is-active > span {
    transform: rotate(90deg);
    background: transparent;
}
.nav__burger.is-active > span::before {
    transform: translateY(-2px) rotate(45deg);
}
.nav__burger.is-active > span::after {
    transform: rotate(-45deg);
}

@media only screen and (max-width: 768px) {
    .nav__burger {
        display: block;
    }
    .nav__logo {
        display: none;
    }
    .nav__menu{
        display: flex;
        position: fixed;
        background: rgba(#FFF, 0.9);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s;
    }
    .nav__menu > * {
        transform: translateY(-10px);
        transition: transform .5s;
    }
    .nav__menu.is-active {
        pointer-events: auto;
        display: flex;
        animation: menuIn 1s;
        opacity: 1;
    }
    .nav__menu > * + * {
        margin-left: 0;
        margin-top: 24px;
    }
}
p {
    color: black
} 