* {
    box-sizing: border-box;

}

body {
    width: 100%;
    margin: 10em auto;

}









img {

    max-width: 100%;
}



.box_left {

    width: 50%;
    display: inline-block;
}


.haut {
    width: 40%;
    margin: auto;
    padding: 25px;
    background: #3c3c3c;
    font-size: 1.5em;
    border: solid 1px black;
    position: relative;

}




.box_right {

    
    width: 45%;
    display: inline-block;
    position: absolute;

}



.main {
    width: 40%;
    background-color: burlywood;
    margin: auto;
    padding: 25px;
    font-size: 2em;


}

.bas {
    width: 40%;
    background-color: greenyellow;
    margin: auto;
    padding: 25px;
    font-size: 1em;

}

td {
    border: solid 1px black;
}

ul {
    list-style: none;

}

li{

    text-decoration: none;
}




@media(min-width: 768px) and (max-width: 1388px)

{

 

.haut

{

            width :40% ;

            padding :0px ;

}

 

.right

{

            width :20% ;           

}

 

#contenu

{

            width :80% ;

}

 

}

@media(max-width: 767px)

{ 

 

.haut

{

            width :40% ;

            padding :0px ;

}

 

#menu-gauche

{

            width :100% ;

}

 

#contenu

{

            width :100% ;

}

 

#sidebar-droite

{

            width :100% ;

}

 

 

}