.form2{
    width:30%;
    margin: 0 auto;
    line-height: 80px;
    margin-top: 150px;
}

body{
    background-color: chartreuse;
}

#fullname{
    border-radius: 100px;
    border: 3px solid #EFEFEF;
    background-color: #FFFFFF;
    padding: 15px;
    width:100%;
}

#mail{
    border-radius: 100px;
    border: 3px solid #EFEFEF;
    background-color: #FFFFFF;
    padding: 15px;
    width:100%;
}

#adresse{
    border-radius: 100px;
    border: 3px solid #EFEFEF;
    background-color: #FFFFFF;
    padding: 15px;
    width:100%;
}

#inputZip{
    border-radius: 100px;
    border: 3px solid #EFEFEF;
    background-color: #FFFFFF;
    padding: 15px;
    width:50%;
}

#inputCity{
    border-radius: 100px;
    border: 3px solid #EFEFEF;
    background-color: #FFFFFF;
    padding: 15px;
    width:50%;
}

#phone{
    border-radius: 100px;
    border: 3px solid #EFEFEF;
    background-color: #FFFFFF;
    padding: 15px;
    width:100%;
}

#pass{
    border-radius: 100px;
    border: 3px solid #EFEFEF;
    background-color: #FFFFFF;
    padding: 15px;
    width:100%;
}

button{
    margin-top: 40px;
}

.form-row{
    display: flex;
}


h6{
    line-height: 1px;
    text-align: right;
}
