.form-group{
    width: 30%;
    margin: 0 auto;
    margin-top: 200px; 
    line-height: 100px;
}
h3{
    text-align: center;
}
#mail1{
    width: 100%;
    padding: 15px; 
    border-radius: 100px;
    border: 3px solid #EFEFEF;
    background-color: #FFFFFF;  
}
#button1{ 
    width: 100%;
    padding: 20px; 
    border-radius: 100px;
    border: 1px solid #EFEFEF;
    background-color: #7BED8D; 
}
.lien2{
    margin-top: -10px;
}
